h1{
    color: brown;
    text-align: center;
}
body{
    background-color: rgb(241, 241, 241);
}
h2{
    color: brown;
}

h3{color: brown;

label{color: rgb(235, 7, 7);}

input{color: rgb(243, 4, 4);}

}
